form{
    display: grid;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
   
}
.heading{
    grid-column-start: 1;
    grid-column-end: 5;
    color:white;
    text-align: center;
    font-weight:lighter;
}
#answer{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right; 
}
.clearall{
    grid-column-start: 1;
    grid-column-end: 4; 
} 
input{
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
}
input:active{
    background-color: grey;
    transition: background-color 0.5 ease ;
}
